<div class="container-fluid" style="background-color:#BDE6CF">
    <h1 class="text-center">Blogs</h1>
    <hr class="w-25" mx-auto>
    <div class="container">
        <div class="row pb-5 pt-5">
            <div class="col-sm-4">
                    <div class="card">
                            <img src="../../assets/tpm (2)/tpm/3.jpg" alt="Avatar" style="width:100%">
                            <div class="container">
                              <h4><b>Jane Doe</b></h4> 
                              <p>Interior Designer</p> 
                            </div>
                          </div>
                          
            </div>
            <div class="col-sm-4">
                    <div class="card">
                            <img src="../../assets/tpm (2)/tpm/2.jpg" alt="Avatar" style="width:100%">
                            <div class="container">
                              <h4><b>Jane Doe</b></h4> 
                              <p>Interior Designer</p> 
                            </div>
                          </div>
                          
            </div>
            <div class="col-sm-4">
                    <div class="card">
                            <img src="../../assets/tpm (2)/tpm/3.jpg" alt="Avatar" style="width:100%">
                            <div class="container">
                              <h4><b>Jane Doe</b></h4> 
                              <p>Interior Designer</p> 
                            </div>
                          </div>

                         
                          
            </div>
        </div>
        <div class="row pt-5 pb-5">
                <div class="col-sm-4">
                      <div class="card">
                              <img src="../../assets/tpm (2)/tpm/3.jpg" alt="Avatar" style="width:100%">
                              <div class="container">
                                <h4><b>Jane Doe</b></h4> 
                                <p>Interior Designer</p> 
                              </div>
                            </div>
                </div>
                <div class="col-sm-4">
                      <div class="card">
                              <img src="../../assets/tpm (2)/tpm/3.jpg" alt="Avatar" style="width:100%">
                              <div class="container">
                                <h4><b>Jane Doe</b></h4> 
                                <p>Interior Designer</p> 
                              </div>
                            </div>
                </div>
                <div class="col-sm-4">
                      <div class="card">
                              <img src="../../assets/tpm (2)/tpm/3.jpg" alt="Avatar" style="width:100%">
                              <div class="container">
                                <h4><b>Jane Doe</b></h4> 
                                <p>Interior Designer</p> 
                              </div>
                            </div>
                </div>
            </div>
    </div>
</div>
<footer class="pt-5 pb-5" style="background-color:#BDE6CF">
        <div class="container">
        
          <nav class="navbar navbar-expand-sm navbar-light bg-w3-pale-red ">
        
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
              aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
                <li class="nav-item ">
                  <a class="nav-link text-black" routerLink="/home"><b>Home</b></a>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
                <li class="nav-item">
                  <a class="nav-link text-black" routerLink="/about"><b>About</b></a>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                  <a class="nav-link text-black" routerLink="/product"><b>Product</b></a>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               
                <li class="nav-item">
                  <a class="nav-link text-black" routerLink="/contact"><b>Contact Us</b></a>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               
                
              </ul>
              
        
        
            </div>
              <h6> © powered  by edunomics </h6>
          </nav>
        </div>
        <hr class="bg-dark w-75 text-center mx-auto">
        
        <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
          
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
          
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
          <p>JOIN US ON</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
              <p><i class="fa fa-facebook"></i></p>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
              <p><i class="fa fa-twitter"></i></p>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
              <p><i class="fa fa-google"></i></p>
           
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <p><i class="fa fa-linkedin"></i></p>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </nav>
        
        </div>
        </footer>
      