<div class="jumbotron " style="background-color:#BDE6CF">
  <div class="text-center">
    <img class="image-responsive text-center" src="../../assets/tpm (2)/tpm/Component 5 – 1@2x.png" height="400px"
      width="400px">
    <h4 class="pb-5">Welcome to packmegood where you can purchase<br> your suitable packing product to your goods</h4>
  </div>
  <div class="text-center">
    <h1 class="pt-5">Product</h1>

    <hr class="mx-auto w-25" style="color: white">
  </div>
  <div class="container-fluid pb-5 pt-5" style="background-color:#BDE6CF">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img class="image-responsive" src="../../assets/tpm (2)/tpm/tamper proof.png" class="w-100" height="300" >
        </div>
        <div class="col-sm-6">
          <h3>Temper Proof Courier Bags</h3>
          <hr>
          <p class="pt-4">use our products to get rid of tampering of products and made so that it cannot be interfered
            with or changed</p>
          <button class="btn btn-outline-primary">Read More</button>
        </div>
      </div>

    </div>
  </div>

  <div class="container-fluid pb-5 pt-5" style="background-color:#BDE6CF">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <div class="card-body">
            <h3>Corroguted Packaging Boxes</h3>
            <hr>

            <p class="pt-4">matching your design factors for corrugated fiberboard boxes suitable to your products with
              quality assurance.</p>
            <button class="btn btn-outline-primary">Read More</button>
          </div>

        </div>
        <div class="col-sm-6">
          <img class="image-responsive" src="../../assets/tpm (2)/tpm/1 (2).jpg" class="w-100" height="300" fa-border="5">
        </div>
      </div>

    </div>
  </div>
  <div class="bg-text">

    <img class="a" id="g" src="../../assets/tpm (2)/tpm/Component 3 – 1.png">
  </div>


  <div class="container-fluid pt-5 pb-5" style="background-color:#BDE6CF">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img class="image-responsive" src="../../assets/tpm (2)/tpm/packaging tapes.jpg" class="w-100" height="300">
        </div>
        <div class="col-sm-6">
          <h3>Packaging Tapes</h3>
          <hr>
          <p class="pt-4">sealing boxes and packages for shipments with two to three inches wide and made from a
            polypropylene or polyester backing.</p>
          <button class="btn btn-outline-primary">Read More</button>

        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="text-center">
      <h1 class="pb-5 pt-5"> Feature</h1>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="w3-container">


          <div class="w3-card-4" style="width:50%">
            <img class="image-responsive" src="../../assets/tpm (2)/tpm/safe and secure.png" style="width:100%">
            <div class="w3-container w3-center">
              <h6 class="pt-5 pb-5">safe and scure your products with our unique and well designed packs </h6>
            </div>
          </div>
        </div>


      </div>
      <div class="col-sm-4">
        <div class="w3-container">


          <div class="w3-card-4" style="width:50%">
            <img class="image-responsive" src="../../assets/tpm (2)/tpm/quick delivery.png" style="width:100%">
            <div class="w3-container w3-center">
              <h6 class="pb-5 pt-5"> get easliy delivered your packages for your products at your door step </h6>
            </div>
          </div>
        </div>


      </div>
      <div class="col-sm-4">

        <div class="w3-container">


          <div class="w3-card-4" style="width:50%">
            <img class="image-responsive" src="../../assets/tpm (2)/tpm/custom your cover.png" style="width:100%">
            <div class="w3-container w3-center">
              <h6 class="pb-5 pt-5">design your covers according to your interest to imperss your cutomer</h6>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

</div>


<div class="text-center">
  <h2 class="pb-5">Something SpecialAbout Our products</h2>
  <h6 class=" pb-5">Our product are eco Friendly , Durable and MostImportantlyRecyclable
    <br> Etc . Some thing Like This</h6>

  <h2 class=" pb-5">Whatsaap Us To Buy&nbsp;&nbsp;</h2>
     

</div>

<div class="ooo">

  <img class="a" id="g" src="../../assets/tpm (2)/tpm/Component 4 – 1.png">
</div>

<div class="jumbotron" style="background-color:#BDE6CF">
  <nav class="navbar navbar-expand-sm  ">
    <a class="navbar-brand" href="#"> </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about" style="color: black">About <span class="sr-only">(current)</span></a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" routerLink="/product" style="color: black">Product</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" style="color: black">Blog </a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" style="color: black">Contact us</a>
        </li>

      </ul>

    </div>
  </nav>
  <hr class="w-50 mx-auto pb-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-2">
            <img src="../../assets/tpm (2)/tpm/ic_pin_drop_24px@2x.png">
          </div>
          <div class="col-sm-10 ">
            <h3 class="pb-3">Address
            </h3>
            <h6 >Eliba Moda pvt.Ltd. <br>
              210,B Wing,Bldg.No 3,Mittal Ind,<br>
              Estate,Moral,Andheri (E),Mumbai-59.<br>
            </h6>
          </div>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-2">
            <img src="../../assets/tpm (2)/tpm/ic_settings_phone_24px@2x.png">
          </div>
          <div class="col-sm-10">
            <h5> P: (+91)81083 45501<br>
              P: (+91)22-497 85021</h5><br>
           

          </div>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <h2 class="pb-4">
              About Us
            </h2>
            <h6>packmegood offers you the best quality of products with suitable prices,
              we are committed to meet the raising market demands for tamper proof and quality assured packing cover to
              your business</h6>
              <button class="btn btn-outline-primary" routerLink="/about">Read more</button>
          </div>
        </div>

      </div>
    </div>
  </div>




</div>