<!--Contact start -->
<div class="container-fluid  pt-5 pb-5  " style="background-color:#BDE6CF">
        <h1 class="text-center pt-5 tx "><b>Contact Us</b></h1>
        <hr class=" w-25 text-center mx-auto">
        <p class="text-center">Lorem ipsum dolor sit amet consectetur oloremque non quos.<br>Fuga illo autem sequi adipisci ab officia dolorum iure!</p>
        <div class="container  pt-5 pb-4">
          <div class="row">
            <div class="col-sm-4">
              <h1 class="tx"><b>Contact Info</b></h1>
              <h2 class="pt-2 pb-2">DEVESH MUDGAL</h2>
              <p class="">
                Eliba Moda pvt.Ltd.<br>
                210,B Wing,Bldg.No 3,Mittal Ind,<br>
                Estate,Moral,Andheri (E),Mumbai-59.<br>
                P: (+91)81083 45501<br>
                P: (+91)22-497 85021
              </p>
    
            </div>
            <div class="col-sm-8">
              <form action="/action_page.php">
                <div class="form-group">
    
                  <input type="email" class="form-control" id="email" placeholder="Name" name="email">
                </div>
                <div class="form-group">
    
                  <input type="password" class="form-control" id="pwd" placeholder="Email" name="pswd">
                </div>
                <div class="form-group">
    
                  <input type="email" class="form-control" id="email" placeholder="Subject" name="email">
                </div>
                <div class="form-group">
    
                  <textarea class="form-control" id="email" placeholder="Message" name="email"></textarea>
                </div>
    
                <button type="submit" class="btn btn-dark text-white">Send Message</button>
              </form>
            </div>
          </div>
        </div>
      </div>
     
    
    
      <footer class="pt-5 pb-5" >
          <div class="container">
          
            <nav class="navbar navbar-expand-sm navbar-light bg-w3-pale-red ">
          
              <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
                aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
                  <li class="nav-item ">
                    <a class="nav-link text-black" routerLink="/home"><b>Home</b></a>
                  </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                  <li class="nav-item">
                    <a class="nav-link text-black" routerLink="/about"><b>About</b></a>
                  </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li class="nav-item">
                    <a class="nav-link text-black" routerLink="/product"><b>Product</b></a>
                  </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 
                  <li class="nav-item">
                    <a class="nav-link text-black" routerLink="/contact"><b>Contact Us</b></a>
                  </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 
                  
                </ul>
                
          
          
              </div>
                <h6> © powered  by edunomics </h6>
            </nav>
          </div>
          <hr class="bg-dark w-75 text-center mx-auto">
          
          <div class="container">
          <nav class="navbar navbar-expand-sm navbar-light bg-light">
            
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
            
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
            <p>JOIN US ON</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
                <p><i class="fa fa-facebook"></i></p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              
                <p><i class="fa fa-twitter"></i></p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              
                <p><i class="fa fa-google"></i></p>
             
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p><i class="fa fa-linkedin"></i></p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </nav>
          
          </div>
          </footer>
